@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100&display=swap');

:root {
    --modal-duration: 1s; 
    --primary-color: #30336b; 
    --secondary-color: #be2edd;
}
* {
    box-sizing: border-box; 
}
body {
    font-family: 'Libre Franklin', sans-serif;
    margin: 0;
}


